*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

nav ul {
	list-style-type: none;
	display: none;
}

nav ul a {
	display: block;
	background: rgb(57, 60, 71);
	font-size: 18px;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(243, 243, 244);
	transition: color 0.1s ease, background 1s ease, padding 1s ease;
}

nav ul li:first-child{
	display: none;
}

nav ul a:hover {
	background: rgb(108, 111, 127);
	color: rgb(57, 60, 71);
	padding-left: 20px;
}

.nav-container .fa-connectdevelop{
	font-size: 60px;
	color: rgb(243, 243, 244);
	align-self: center;
	padding: 5px 0;
}

.nav-container{
	padding: 0 20px;
	background: rgb(108, 111, 127);
	border-bottom: 3px solid rgb(243, 243, 244);
	display: flex;
	justify-content: space-between;
}

.bar{
	width: 30px;
	height: 4px;
	margin: 8px;
	background: rgb(243, 243, 244);
}

.btn{
	padding: 2px;
	display: inline-block;
	border: 2px solid rgb(243, 243, 244);
	align-self: center;
	cursor: pointer;
}

header{
	min-height: 100vh;
	background: linear-gradient(rgba(243, 243, 244, 0.01), rgba(243, 243, 244, 0.2)), url("../img/code_3.jpeg") no-repeat fixed center/cover;
	flex-direction: column;
}

nav{
	flex: 0 0 auto;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.banner .fa-connectdevelop{
	font-size: 300px;
	color: rgb(243, 243, 244);
	align-self: center;
	padding-top: 60px;

}

.banner{
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.banner-center{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.banner h1{
	font-size: 50px;
	text-transform: uppercase;
	color: rgb(243, 243, 244);
}

.banner h3{
	font-size: 20px;
	text-transform: capitalize;
	color: rgb(243, 243, 244);
}

.banner-icons{
	margin-top: 5px;
}

.banner-icons a{
	display: inline-block;
	font-size: 50px;
	color: rgb(243, 243, 244);
	transition: transform 500ms ease;
}

.banner-icons a:hover{
	transform: scale(1.1);
}

.icon-background{
	background: rgb(57, 60, 71);
	display: inline-block;
	position: fixed;
	z-index: -1;
	margin: 15px 0 0 4px;
}

.html-background, .css-background{
	width: 30px;
	height: 32px;
}

.js-background{
	width: 38px;
	height: 38px;
}

.js-background:hover{
	width: 38px;
	height: 38px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: rgba(57, 60, 71, 0.5);
	color: rgb(243, 243, 244);
	text-align: center;
	padding: 3px 0;
	margin: 0 15px 0 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

@media screen and (min-width: 776px){
	.nav-container{
		display: none;
	}
	nav ul{
		display: flex!important;
		flex-wrap: wrap;
		justify-content: center;
		background: rgb(57, 60, 71);
	}
	nav ul a{
		background: transparent;
		border-bottom: 5px solid rgba(57, 60, 71, 0.8);
		border-top: 5px solid rgba(57, 60, 71, 0.8);
	}

	nav ul li:first-child{
		display: block;
	}

	nav ul li:first-child .fa-connectdevelop{
		background: transparent;
		font-size: 40px;
		color: rgb(243, 243, 244);
		align-self: center;
		padding: 12px 6px 12px 0;
	}

	nav ul a:hover{
		padding-left: 15px;
		background: rgba(57, 60, 71, 0.8);
		color: rgb(243, 243, 244);
		border-bottom: 5px solid rgb(243, 243, 244);
	}
}

/*#######################################################################*/
.about-me{
	min-height: 100vh;
	background: url("../img/am_1.jpeg") no-repeat fixed center/cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-me-center{
	background: rgba(243, 243, 244, 0.7);
	border-radius: 30px;
	max-width: 600px;
	padding: 15px 20px;
}

.about-me-center h1{
	text-transform: capitalize;
	font-size: 30px;
	text-align: center;
	padding: 5px 0 10px;
}

.about-me-center p{
	text-transform: capitalize;
	text-align: justify;
}

@media screen and (max-width: 776px){
	.about-me-center{
		max-width: 77vh;
	}
}

@media screen and (max-width: 600px){
	.about-me-center p{
		text-align: left;
	}
}
