/* Coolors Exported Palette - coolors.co/393c47-f3f3f4-960200-333130-6c6f7f */

/* HSL */
$color1: hsla(227%, 11%, 25%, 1);
$color2: hsla(240%, 4%, 95%, 1);
$color3: hsla(1%, 100%, 29%, 1);
$color4: hsla(20%, 3%, 19%, 1);
$color5: hsla(231%, 8%, 46%, 1);

/* RGB */
$color1: rgba(57, 60, 71, 1);
$color2: rgba(243, 243, 244, 1);
$color3: rgba(150, 2, 0, 1);
$color4: rgba(51, 49, 48, 1);
$color5: rgba(108, 111, 127, 1);